body{
    margin: 0;
    padding: 0;
    background: url("Images/Project 98.jpg") no-repeat;
    background-size: cover;
    align-items: center;
}
.box{
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin:auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
}
.box-img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.box .name{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.box .occupation{
    font-size: 20px;
    font-weight: 100;
}
.box .introduction{
    text-align: justify;
}
.box .github{
    display: inline-block;
    margin: 10px;
    list-style: none;
}
.box .github i{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box .github i:hover{
    filter: brightness(80%);
}
.box .linkedin{
    display: inline-block;
    margin: 10px;
    list-style: none;
}
.box .linkedin i{
    color: #00a0dc;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box .linkedin i:hover{
    filter: brightness(80%);
}